<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>media</title>
<style>

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

.flex-item {
    background-color: cornflowerblue;
    width: auto;
    height: auto;
    margin: 10px;
}

.img-m {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

</style>
</head>
<body>


<script src="/static/js/jquery-2.1.4.min.js"></script>
<script>
(function(){

    var PhotoGraph = function(options) {
        this.page = 0;
        this.page_num = 0;
        this.init();
    };

    PhotoGraph.prototype.init = function() {
    	this.page = this.get_url_page();
    	this.layout();
    }

	PhotoGraph.prototype.get_url_page = function() {
	    var query = window.location.search.substring(1);
	    var vars = query.split("&");
	    for (var i=0;i<vars.length;i++) {
	        var pair = vars[i].split("=");
	        if(pair[0] == "page") {
	        	return pair[1];
	        }
	    }
	    return(false);
	}

	PhotoGraph.prototype.create_row = function(arr, zoom) {
	    // 写html
	    var row_obj = document.createElement("div");
		row_obj.className  = "flex-container";
		for (var i in arr) {
			var div_obj = document.createElement("div");

	      	var a_obj = document.createElement("a");
	      	a_obj.target = "_blank";
	      	a_obj.href = "video_play_pc?file=" + arr[i].slice(0, -4);

	      	var img_obj = document.createElement("img");
			img_obj.className  = "img-m";
			img_obj.src = "/static/media/video/thumb/" + arr[i];
			img_obj.alt = arr[i];
			img_obj.height = zoom.toString();

	      	a_obj.appendChild(img_obj);
			div_obj.appendChild(a_obj);
			row_obj.appendChild(div_obj);
		}
		document.body.appendChild(row_obj);
	}

    PhotoGraph.prototype.create_button = function(p_obj, href, value, color) {
        var a_obj = document.createElement("a");
        a_obj.href = href;
        var page_obj = document.createElement("input");
        page_obj.type = "button";
        page_obj.value = value;
        page_obj.style = "width:50px;height:50px;font-size:20px;background:" + color + ";border:none;"; 
        a_obj.appendChild(page_obj);
        p_obj.appendChild(a_obj);        
    }

    PhotoGraph.prototype.create_page_button = function(num) {
       
        // 空白行
        var br_obj = document.createElement("br");
        document.body.appendChild(br_obj);
        var p_obj = document.createElement("p");

        this.create_button(p_obj, "/", "<", "white");

        // 页面选择按钮
        for (var i = 1; i <= num; i++) {
            var href = "photo_pc?dev=pc&page=" + i.toString();
            if (i == this.page) {
                this.create_button(p_obj, href, i.toString(), "lightblue");
            } else if (Math.abs(i-this.page) < 3) {
                this.create_button(p_obj, href, i.toString(), "white");
            } else if (i == 1) {
                this.create_button(p_obj, href, "1 ...", "white");
            } else if (i == num) {
                this.create_button(p_obj, href, "... " + num.toString(), "white");
            }
        }
        document.body.appendChild(p_obj);
        // 空白行
        br_obj = document.createElement("br");
        document.body.appendChild(br_obj);        
    }


	PhotoGraph.prototype.layout = function() {
		var self = this;
	    $.ajax({
	        url: "/list?dir=video&dev=pc&page=" + self.page.toString(),
	        type: "GET",
	        dataType: "json",
	        async: false,        
	        success: function (json_data) {
	        	data = json_data.data;
            	num = json_data.num;
            	console.log(num);

	        	var sum_width = 0;
	        	var screen_width = 1880;
				    var img_arr = new Array();

	        	for (var i in data) {
	        		var img_name = data[i].name;
	        		var img_width = data[i].width;
	        		if ((screen_width-sum_width) < img_width/2) {
	        			var img_num = img_arr.length;
	        			var zoom = (screen_width-10*img_num)*200/sum_width;
	        			// 转化为整数
	        			zoom = Math.floor(zoom);
	        			// console.log(zoom);
	        			self.create_row(img_arr, zoom);

		                sum_width = img_width;
		                delete img_arr;
		               	img_arr = new Array();	
		               	img_arr.push(img_name);

	        		} else {
	        			sum_width += img_width;
	        			img_arr.push(img_name);
	        			// console.log(img_name);
	        		}
	        	}
	        	// 最后一行
	        	self.create_row(img_arr, 200);
	        	self.create_page_button(num);
	        }
	    });
    };
    window.PhotoGraph = PhotoGraph;
})();

new PhotoGraph();

</script>


</body>
</html>
